<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <title>{% block title %}  {% endblock %} Pirate Game</title>
    <style>
                .title {
            margin: 5px;
            color: #FFFFFF;
            flex-direction: column;
        }
                .para {
            color: #FFFFFF;
            display: inline;
            white-space: pre;
            position: fixed;
            margin-left: 25px;
        }
                nav a {
            color: #FFFFFF;
            font-size: 3em;
            margin-left: 50px;
            text-decoration: none;
        }
    </style>
</head>
<body style = 'background-color:#DCC9B6'>
    <nav>
        <a href="{{ url_for('index') }}">Menu</a>
    </nav>
    <hr>
    <div class="content">
        {% block content %} {% endblock %}
    </div>
</body>
</html>